@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto|Staatliches&display=swap')
	;

#header {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: black;
}

#header-logo {
	float: left;
	margin-left: 10px;
	width: 75px;
	margin-right: 50px;
}

.header-menu-item {
	float: right;
	color: white;
	height: 100%;
	width: auto;
	line-height: 50px;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 110%;
	font-family: 'Fredericka the Great', cursive;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.header-menu-item:hover {
	background-color: rgba(200, 200, 200, 0.3);
} 

.perfil-drop-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 125px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align:left;
}

.perfil-drop-content a {
	color: white;
	text-decoration:none;
	display:block;
	text-indent:8px;
	height:50px;
}

.perfil-drop-content a:hover {
	background-color: rgba(200, 200, 200, 0.3) ;
}

#header-perfil-container:hover .perfil-drop-content {
	display: block;
}

#perfil-logout{
	color:rgba(220,116,132,1);
}

#header-btnjogar {
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 110%;
	box-sizing: border-box;
	font-weight: 600;
	color: white;
	background-color: rgba(0, 149, 255, 1);
	border: solid 1px rgba(0, 86, 149, 1);
	float: right;
	margin-right: 15px;
	margin-left: 50px;
	margin-top: 5px;
	cursor: pointer;
}

#header-btnjogar:hover {
	background-color: rgba(0, 120, 200, 1);
}