@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto|Staatliches&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration:none;
	color:rgba(83,113,255,1);
}

body{
	background: url(../img/bg-index.jpg) no-repeat;
	background-size: 100%;
}

#fundo1{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	/*background-color: rgba(85,210,235,0.5);*/
}

@keyframes invoca {
	from {opacity: 0;}
	to {opacity: 1;}
}

#hero-left{
	width: 30%;
	position: absolute;
	left: 0px;
	bottom: 25px;
	opacity: 1;
	animation-name: invoca;
	animation-duration: 3s;
	animation-fill-mode: backwards;
	z-index: 5;
}

#hero-right{
	width: 30%;
	position: absolute;
	right: 25px;
	bottom: 0px;
	opacity: 1;
	animation-name: invoca;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
	z-index: 5;
}

@keyframes brilhoca{
	0% {opacity: 0; filter: brightness(200%);}
	66% {opacity: 1;}
	100% {filter: brightness(100%);}
}

#centro{
	width:410px;
	height:auto;
	/*background-color:rgba(177,177,177,0.75);*/
	margin-left:35%;
	z-index: 10;
	position:relative;
	/*animation-name: brilhoca;*/
	animation-duration: 3s;
	animation-delay: 2s;
	animation-fill-mode: backwards;
}

#logo1{
	width:100%;
	position:relative;	
}

#cont-form{
	/*background-color:snow;*/
	height:auto;
	border:solid 4px rgba(83,113,255,1);
}

#form-top{
	width:100%;
	height:50px;
	background-color:rgba(85,245,221,0.75);
	position:relative;
}

.form-top-aba{
	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	float:left;
	cursor:pointer;
	/*font-family:'Staatliches', cursive;*/
	font-family: 'Fredericka the Great', cursive;
	font-weight:600;
	font-size:120%;
}

#aba-index{
	width:170px;
	border-bottom:solid 3px blue;
	position:absolute;
	left:15px;
	top:50px;
	z-index:11;
	transition: left 0.3s, right 0.3s; 
}

#cont-form-pages{
	position:relative;
	width:100%;
	height:200px;
}

.form{
	width:100%;
	height:200px;
	float:left;
	position:absolute;
	background-color:rgba(240,255,255,0.75);
	left:0;	
}

#form-login{
	
}

#form-registro{
	height:300px;
	display:none;
}

.form-linha{
	float:left;
	width:90%;
	height: auto;
	padding:5%;
	padding-bottom:0%;
	padding-top:3%;
	/*background-color:turquoise;*/
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Staatliches', cursive;*/
	font-size:110%;
	font-weight:600;
	position:relative;
}

.form-input{
	appearence:none;
	outline:none;
	border:none;
	padding:1.2%;
	margin-top:5px;
	width:97.6%;
	height:25px;
}

.form-button{
	all:unset;
	width:100%;
	height:35px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size:80%;
	background-color:rgba(0,149,255,1);
	border:solid 1px rgba(0,86,149,1);	
	color:white;
	cursor:pointer;
}
.form-button:hover{
	background-color:rgba(0,120,200,1);
}

#form-forgot-pass{
	float:right;
	font-size: 75%;
}
