@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto|Staatliches&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

#fixed-background{
	position:fixed;
	width:100%;
	height:100%;
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100%;
	z-index:-100;
}

#container-choose-game{
	width:700px;
	height:500px;
	position:relative;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	background-color:snow;
	border:solid 2px rgba(0,149,255,1);
	box-shadow: 0px 0px 4px 3px rgba(0,100,200,0.5);
}

#choose-game-top{
	width:100%;
	height:50px;
	background-color:rgba(85,245,221,0.75);
	position:relative;
}

.choose-game-option{
	width:50%;
	height:50px;
	line-height:50px;
	text-align:center;
	box-sizing:border-box;
	float:left;
	cursor:pointer;
	font-family: 'Fredericka the Great', cursive;
	font-weight:600;
	font-size:150%;
}
#option-underline{
	width:250px;
	border-bottom:solid 3px blue;
	position:absolute;
	left:50px;
	right:auto;
	bottom:0px;
	z-index:1;
	transition: left 0.3s, right 0.3s; 
}

#choose-game-container{
	height:450px;
	width:100%;
	box-sizing:border-box;
	position:relative;
	background-color:azure;
}

.inside-option{
	position:absolute;
	width:100%;
	height:100%;
}

#inside-option-online{
	background-color:lightblue;
	display:none;
}
#inside-option-offline{
	background-color:purple;
}