@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto|Staatliches&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

#fixed-background{
	position:fixed;
	width:100%;
	height:100%;
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100%;
	z-index:-100;
}

#container-choose-game{
	width:700px;
	height:500px;
	position:relative;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	background-color:snow;
	border:solid 2px rgba(0,149,255,1);
	box-shadow: 0px 0px 4px 3px rgba(0,100,200,0.5);
	z-index:89;
	overflow:hidden;
	text-overflow: ellipsis;
	transition: all 0.7s;
}

#choose-game-top{
	width:100%;
	height:50px;
	background-color:rgba(85,245,221,0.75);
	position:relative;
}

.choose-game-option{
	width:50%;
	height:50px;
	line-height:50px;
	text-align:center;
	box-sizing:border-box;
	float:left;
	cursor:pointer;
	font-family: 'Fredericka the Great', cursive;
	font-weight:600;
	font-size:150%;
}
#option-underline{
	width:250px;
	border-bottom:solid 3px blue;
	position:absolute;
	left:50px;
	right:auto;
	bottom:0px;
	z-index:1;
	transition: left 0.3s, right 0.3s; 
}

#choose-game-container{
	height:450px;
	width:100%;
	box-sizing:border-box;
	position:relative;
	background-color:azure;
}

.inside-option{
	position:absolute;
	width:100%;
	height:100%;
}

#inside-option-online{
	display:none;
}

.offline-separator{
	height:100%;
	box-sizing:border-box;
	float:left;
	position:relative;	
}
#separator1{
	width:55%;
	border-right:solid 2px rgba(0,149,255,1);
}
#separator1-title{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:75%;
	height:35px;
	line-height:35px;
	font-family: 'Fredericka the Great', cursive;
	font-weight:600;
	font-size:120%;
	text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
	color:white;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	border-bottom:solid 2px rgba(0,149,255,0.2)
}
#container-mini-oponentes{
	height:383px;
	width:100%;
	box-sizing:border-box;
	overflow-y:auto;
	padding-bottom:15px;
}
.mini-oponente{
	width:70px;
	height:70px;
	margin-left:15px;
	margin-top:15px;
	float:left;
	background-color:white;
	border:solid 2px rgba(0,149,255,0.8);
	cursor:pointer;
}

#separator2{
	width:45%;
	height:100%;
	border-box:box-sizing;
}
#oponente-img{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:175px;
	height:175px;
	margin-top:20px;
	background-color:turquoise;
	border:solid 2px rgba(0,149,255,0.8);
}
#oponente-nome{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	width:200px;
	height:25px;
	line-height:25px;
	font-family: 'Roboto', sans serif;
	text-align:center;
	font-size:140%;
	font-weight:800;
	box-sizing:border-box;
	border:solid 1px rgba(200,200,200,0.75);
	background-color: rgba(240,240,240,1);
}
.oponente-info{
	position:relative;
	float:left;
	width:51%;
	height:22px;
	line-height:22px;
	margin-left:15px;
	margin-top:10px;
	font-family: 'Roboto', sans serif;
	font-size:90%;
	font-weight:800;
	border:solid 1px rgba(200,200,200,0.75);
	background-color: rgba(240,240,240,1);
}
#btn-desafiar{
	width: 50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 110%;
	box-sizing: border-box;
	font-weight: 600;
	color: white;
	background-color: rgba(0, 149, 255, 1);
	border: solid 1px rgba(0, 86, 149, 1);
	position:absolute;
	margin-top:20px;
	right:0px;
	left:0px;
	bottom:20px;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;	
	display:none;
}
#btn-desafiar:hover{
	background-color: rgba(0, 120, 200, 1);
}

/* ********************** GAME ************************ */
#game-container{
	position:absolute;
	width:0px;
	height:580px;
	right:0;
	left:0;
	margin-right:auto;
	margin-left:auto;
	margin-top:15px;
	background-color:snow;
	background-image: linear-gradient(to bottom, rgb(57,63,117), rgb(142,88,138), rgb(219,122,144), rgb(254,151,142), rgb(254,187,141), rgb(253,218,157));
	border:solid 2px rgba(0,149,255,1);
	box-shadow: 0px 0px 4px 3px rgba(0,100,200,0.5);
	overflow:hidden;
	text-overflow: ellipsis;
	transition: width 0.8s;
	opacity:0;
	z-index:89;
}

.player-info{
	position:absolute;
	width:300px;
	height:60px;
	line-height:30px;
	font-family:'Fredericka the great', cursive;
	font-weight:800;
	font-size:120%;
	background-color:azure;
	border:solid 2px rgba(0,149,255,1);
	box-shadow: 0px 0px 5px 2px rgba(0,100,200,0.3);
	transition: opacity 0.5s;
}
#info2{
	left:50px;
	top:30px;
}
#info1{
	right:50px;
	bottom:30px;
}

.player-icon{
	height:100%;
	box-sizing:border-box;	
}

#icon2{
	float:left;
	margin-right:10px;
	border-right:solid 2px rgba(0,149,255,1);
}
#icon1{
	float:right;
	margin-left:10px;
	border-left:solid 2px rgba(0,149,255,1);
}


@keyframes roda-vs {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
#game-vs{
	width:calc(400px / 2); 
	height:calc(340px / 2);
	left:calc(1200px/2 - 200px/2 );
	top:calc(580px/2 - 170px/2 );
	position:absolute;
	background: url(../img/jogo/vs.png) no-repeat;
	background-size: 100%;
	transition: opacity 0.5s, top 0.5s;
	animation-name: roda-vs;
	animation-iteration-count:2;
	animation-direction: alternate;
  	animation-duration: 0.8s;  	
}
#game-chat-container{
	width:230px;
	height:580px;
	position:absolute;
	right:0px;
	top:0px;
	box-sizing:border-box;
	background-color:rgba(64,224,208,1);
	border-left:solid 1px rgba(0,149,255,1);
}
.ingame-profile{
	position:absolute;
	width:100%;
	height:50px;
	line-height:50px;
	text-indent: 7px;
	font-family:'Fredericka the great', cursive;
	font-weight:800;
	font-size:100%;
	background-color:lightblue;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
#ingame-profile1{
	bottom:0px;
	border-top:solid 1px rgba(0,149,255,1);
}
#ingame-profile2{
	top:0px;
	border-bottom:solid 1px rgba(0,149,255,1);
}
.ingame-profile-icon{
	float:left;
	height:100%;
}
#ingame-textfield{
	appearence:none;
	outline:none;
	border:none;
	position:absolute;
	width:100%;
	box-sizing:border-box;
	height:30px;
	padding-left:5px;
	padding-right:5px;
	line-height:30px;
	border:solid 1px transparent;
	bottom:51px;
}
#ingame-chat{
	position:absolute;
	width:100%;
	height:calc(580px - 51px - 51px - 30px);
	top:51px;
	background-color:rgba(255,250,250,0.7);
	box-sizing:border-box;
	padding:3px;
	overflow-y:auto;
	font-family: 'Roboto', sans serif;
	font-size:80%;
}
.msg-info{
	color: rgb(0,0,0);
}
.msg-error{
	color: rgba(255,85,85,1);
}
.msg-advice{
	color: rgba(241,140,24,1);
}
.ingame-btn{
	position:absolute;
	width:100px;
	height:35px;
	line-height:31px;
	box-sizing: border-box;
	font-size:90%;
	font-weight:800;
	color:white;
	font-family: 'Roboto', sans serif;
	text-align:center;
	cursor:pointer;
	right:240px;
}
#btn-passar{
	background-color:rgba(241,140,24,1);
	border:solid 2px rgba(204,115,15,1);
	top: calc(580px / 2 - 35px - 5px);
}
#btn-desistir{
	background-color:rgba(255,85,85,1);
	border:solid 2px rgba(181,62,62,1);
	top: calc(580px / 2 + 5px);
}
#atk-move-container{
	position:absolute;
	width:80px;
	height:65px;
	background-color:snow;
	display:none;
	z-index:10;
}
.atk-move-btn{
	position:relative;
	width:70px;
	height:25px;
	margin-left:5px;
	margin-top:5px;
	line-height:22px;
	box-sizing: border-box;
	font-size:80%;
	font-weight:800;
	color:white;
	font-family: 'Roboto', sans serif;
	text-align:center;
	cursor:pointer;
	float:left;	
}
#atk-btn{
	background-color:rgba(255,85,85,1);
	border:solid 2px rgba(181,62,62,1);
}
#move-btn{
	background-color:rgba(241,140,24,1);
	border:solid 2px rgba(204,115,15,1);
}

#ingame-veil{
	position:absolute;
	width:calc(100% - 230px);
	height:100%;
	background-color:rgba(90,90,185,0.75);
	z-index:11;	
	display:none;
}
#ingame-big-card{
	position:absolute;
	width:calc(370px / 1);
	height:calc(530px / 1);
	//background-color:snow;
	margin: 0;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#ingame-deep-info{
	position:relative;
	height:450px;
	line-height:50px;
	width:100px;
	top: 65px;	
	left:calc(50% + 185px + 15px);
	//background-color:snow;	
	padding:7px;
	box-sizing:border-box;
	font-family:'Roboto', sans serif;
	font-size:105%;
	font-weight:800;
	color:white;
	text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
}
#busca-container{
	position:absolute;
	margin: 0;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	overflow-x: auto;
  	width: 777px;
  	height: 550px;
  	background-color:snow;
  	box-shadow: 0px 0px 4px 3px rgba(0,100,200,0.5);
}

.ingame-hand-container{
	position:absolute;
	left: calc(10px + 75px + 15px);
	right: calc(10px + 75px + 15px + 230px);	
	width: calc(1200px - 230px - 100 - 100);
	height: 90px;	
	/*background-color:rgba(240,255,255,0.33);*/
	overflow-x:auto;
	overflow-y:hidden;
}
#inside-card-hand-jogador{
	position:absolute;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;	
	height:100%;
	width:calc(370px / 6 + 5px);
}
#inside-card-hand-oponente{
	position:absolute;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;	
	height:100%;
	width:calc(370px / 6 + 5px);
}
#hand-jogador{
	bottom:0px;
}
#hand-oponente{
	top:0px;
}
.ingame-card-hand{
	position:relative;
	width:calc(370px / 6);
	height:calc(530px / 6);
	margin-left:5px;
	display:inline-block;
	cursor:pointer;
	bottom:0px;
}
.ingame-card-select{
	position:relative;
	width:calc(370px / 3);
	height:calc(530px / 3);
	margin:12px;
	float:left;
	cursor:pointer;
}
.ingame-card-hand-oponente{
	position:relative;
	width:62px;
	height:93px;
	background: url(../img/jogo/back.png) no-repeat;
	background-size:100%;
	margin-left:5px;
	display:inline-block;
}

.ingame-line{
	position:absolute;
	width: 700px;
	height:calc(530px / 6 + 2px);
	left:135px;
	background: url(../img/jogo/grass.jpg);
	background-size: 90px 90px;
	border:solid 2px transparent;
}
#backline-jogador{
	bottom: 93px;
	/*border:solid 2px rgba(0,149,255,1);*/
}
#frontline-jogador{
	bottom: 190px;
	/*border:solid 2px orange;*/
}
#backline-oponente{
	transform: rotate(180deg);
	top: 93px;
}
#frontline-oponente{
	transform: rotate(180deg);
	top: 190px;
}

.ingame-card-slot{
	position:absolute;
	border:solid 1px black;
	width:calc(370px / 6);
	height:calc(530px / 6);
	/*background: url(../img/cards/1.jpg) no-repeat;*/
	background-size:100%;
	bottom:0px;
	left: 50px;
	border:solid 1px black;
}
#card-slot-hero{
	border-right:solid 1px rgba(121,121,121,1);
	background: url(../img/jogo/helmet.png) no-repeat;
	background-size:100%;
	background-color:white;
}
#card-slot-weapon{
	border-left:none;
	background: url(../img/jogo/swords.png) no-repeat;
	background-size:100%;
	background-color:rgb(200,210,0,1);
}
.ingame-deck{
	position:absolute;
	width:62px;
	height:93px;
	line-height:93px;
	background: url(../img/jogo/back.png) no-repeat;
	background-size:100%;
	font-weight:800;
	text-align:center;
	font-size:150%;
	font-family:'Roboto', sans serif;
	text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
	color:white;
}
#deck-jogador{
	bottom: 10px;
	right: calc(230px + 10px);
}
#deck-oponente{
	top: 10px;
	left: 10px;
}
.ingame-descarte{
	position:absolute;
	border:solid 1px rgba(247,73,73,1);
	background: url(../img/jogo/skull.png) no-repeat;
	background-size:100%;
	width:calc(370px / 6);
	height:calc(530px / 6);
}
#descarte-jogador{
	left: 10px;
	bottom: 10px;
}
#descarte-oponente{
	right: calc(230px + 10px);
	top: 10px;
	transform: rotate(180deg);
}
.ingame-recarga{
	position:absolute;
	border:solid 1px rgba(87,255,127,1);
	width:calc(370px / 6);
	height:calc(530px / 6);
}
.ingame-recarga-icon{
	position:absolute;
	width: 100%;
	height:100%;
	background: url(../img/jogo/clock.png) no-repeat;
	background-size:100%;
	z-index:9;
}
#recarga-jogador{
	left: 10px;
	bottom: calc(10px + (530px / 6) + 10px);
}
#recarga-oponente{
	right: calc(230px + 10px);
	top: calc(10px + (530px / 6) + 10px);
	transform: rotate(180deg);
}

.ingame-carta{
	position:absolute;
	width:calc(370px / 6);
	height:calc(530px / 6);
	cursor:pointer;
}
