@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Roboto|Staatliches&display=swap');

*{
	margin: 0px;
	padding: 0px;
}

#fixed-background{
	position:fixed;
	width:100%;
	height:100%;
	background: url(../img/bg2.jpg) no-repeat;
	background-size: 100%;
	z-index:-100;
}

#container-choose-game{
	width:700px;
	height:500px;
	position:relative;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	background-color:snow;
	border:solid 2px rgba(0,149,255,1);
	box-shadow: 0px 0px 4px 3px rgba(0,100,200,0.5);
}

#choose-game-top{
	width:100%;
	height:50px;
	background-color:rgba(85,245,221,0.75);
	position:relative;
}

.choose-game-option{
	width:50%;
	height:50px;
	line-height:50px;
	text-align:center;
	box-sizing:border-box;
	float:left;
	cursor:pointer;
	font-family: 'Fredericka the Great', cursive;
	font-weight:600;
	font-size:150%;
}
#option-underline{
	width:250px;
	border-bottom:solid 3px blue;
	position:absolute;
	left:50px;
	right:auto;
	bottom:0px;
	z-index:1;
	transition: left 0.3s, right 0.3s; 
}

#choose-game-container{
	height:450px;
	width:100%;
	box-sizing:border-box;
	position:relative;
	background-color:azure;
}

.inside-option{
	position:absolute;
	width:100%;
	height:100%;
}

#inside-option-online{
	display:none;
}

.offline-separator{
	height:100%;
	box-sizing:border-box;
	float:left;
	position:relative;	
}
#separator1{
	width:55%;
	border-right:solid 2px rgba(0,149,255,1);
}
#separator1-title{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:75%;
	height:35px;
	line-height:35px;
	font-family: 'Fredericka the Great', cursive;
	font-weight:600;
	font-size:120%;
	text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
	color:white;
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
	border-bottom:solid 2px rgba(0,149,255,0.2)
}
#container-mini-oponentes{
	height:383px;
	width:100%;
	box-sizing:border-box;
	overflow-y:auto;
	padding-bottom:15px;
}
.mini-oponente{
	width:70px;
	height:70px;
	margin-left:15px;
	margin-top:15px;
	float:left;
	background-color:white;
	border:solid 2px rgba(0,149,255,0.8);
	cursor:pointer;
}

#separator2{
	width:45%;
	height:100%;
	border-box:box-sizing;
}
#oponente-img{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:175px;
	height:175px;
	margin-top:20px;
	background-color:turquoise;
	border:solid 2px rgba(0,149,255,0.8);
}
#oponente-nome{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	width:200px;
	height:25px;
	line-height:25px;
	font-family: 'Roboto', sans serif;
	text-align:center;
	font-size:140%;
	font-weight:800;
	box-sizing:border-box;
	border:solid 1px rgba(200,200,200,0.75);
	background-color: rgba(240,240,240,1);
}
.oponente-info{
	position:relative;
	float:left;
	width:51%;
	height:22px;
	line-height:22px;
	margin-left:15px;
	margin-top:10px;
	font-family: 'Roboto', sans serif;
	font-size:90%;
	font-weight:800;
	border:solid 1px rgba(200,200,200,0.75);
	background-color: rgba(240,240,240,1);
}
#btn-desafiar{
	width: 50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 110%;
	box-sizing: border-box;
	font-weight: 600;
	color: white;
	background-color: rgba(0, 149, 255, 1);
	border: solid 1px rgba(0, 86, 149, 1);
	position:absolute;
	margin-top:20px;
	right:0px;
	left:0px;
	bottom:20px;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;	
	display:none;
}
#btn-desafiar:hover{
	background-color: rgba(0, 120, 200, 1);
}